* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Navbar */

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    background-color: #F8F8F8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
}

.logo {
    margin: 30px;
}

.navbar-links ul {
    margin-left: 530px;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #B55158;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding: 1.5rem;
    transition: all 300ms;
}

.navbar-links li a:hover {
    font-weight: 700;
}

.navbar-links .nav-link-active {
    font-weight: 700;
}

.responsive-rrss {
    display: none;
    margin: 20px;
    justify-content: space-between;
}

.responsive-rrss a {
    color: #B55158;
    margin: 6px;
    font-size: 25px;
}

.rrss {
    font-size: 26px;
    margin: 25px;
}

.rrss a {
    color: #B55158;
    transition: all 300ms;
}

.rrss a:hover {
    color: #8f4045;
}


/* Section */


/* Seccion Cards */

.seccionServicios {
    display: flex;
    justify-content: center;
    margin: 90px;
}

.seccionCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-wrap: nowrap;
    background-color: #fff;
    margin: 10px;
    width: 335px;
    height: 324px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card img {
    background-color: #ebebeb;
    border-radius: 100%;
    z-index: 50;
    padding: 12px;
    margin-top: 25px;
    margin-left: 125px;
}

.card h2 {
    font-weight: 700;
    color: #914450;
    font-size: 27px;
    text-align: center;
    margin-top: 20px;
}

.card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    margin-top: 20px;
    margin-left: 8px;
    width: 95%;
    color: #B55158;
}


/* Servicios */

.serviciosResponsive {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 100px;
    font-style: black;
    color: #B55158;
}

.serviciosTextPortada {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.serviciosTextBig {
    margin-bottom: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: calc(.7rem + 4vw);
    font-weight: 900;
    font-style: black;
    line-height: calc(1rem + 5vw);
    color: #B55158;
}

.serviciosText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 40px;
    margin-top: -20px;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    color: #B55158;
}


/* Servicios */


/* Portofolio */

.seccionPortfolio {
    margin: 190px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.portfolioCards img {
    width: 309.67px;
    height: 274.71px;
    margin: 5px;
}

.vermas {
    margin-left: 610px;
    margin-bottom: 80px;
    margin-top: -110px;
}

.vermas a {
    background-color: #B55158;
    border-radius: 30px;
    padding: 15px 45px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 300ms
}

.vermas a:hover {
    background-color: #914450;
}


/* Portofolio */

main {
    width: 100%;
}

main .portada {
    position: relative;
}

main .portada img {
    width: 100%;
    height: auto;
    opacity: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .portada .textPortada {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

main .portada .textPortada .textBig {
    margin-bottom: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: calc(.7rem + 4vw);
    font-weight: 900;
    font-style: black;
    line-height: calc(1rem + 5vw);
    color: #B55158;
}

main .portada .textPortada .textSmall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: calc(0.15rem + 2vw);
    font-weight: 600;
    font-style: italic;
    line-height: calc(.3rem + 3vw);
    color: #9a9a9a;
}

main .portada .textPortada .textSmall .bold {
    font-weight: 800;
}

@media (min-width: 1280px) {
    main .portada .textPortada {
        margin-left: 124px;
    }
    main .portada .textPortada .textBig {
        font-size: 65px;
        line-height: 69.42px;
    }
    main .portada .textPortada .textSmall {
        font-size: 20px;
        line-height: 24px;
    }
}

main .sectionServicios {
    width: 100%;
    margin: 8px 0;
}

main .consultanos {
    padding: 0 30px;
    padding-top: 52px;
    padding-bottom: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-color: #B55158;
}

main .consultanos .divText {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* .textSmall{
                margin-bottom: 22px;
                display: flex;
                flex-direction: column;
                font-family: $montserrat;
                font-weight: 600;
                font-size: 22px;
                line-height: 30.48px;
                color: $color-creme;
            } */
}

main .consultanos .divText .textBig {
    margin-bottom: 22px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: calc(1.1rem + 4vw);
    line-height: calc(2rem + 3vw);
    color: #F5E7D5;
}

main .consultanos .divText .textBig>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

main .consultanos .divBtn {
    padding: 22px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

main .consultanos .divBtn .btnConsultanos {
    width: 100%;
    max-width: 301px;
    min-width: 244px;
    height: 74px;
    padding: 21px 0;
    border: none;
    border-radius: 48px;
    background-color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #914450;
}

@media (min-width: 960px) {
    main .consultanos .divText .textBig {
        font-weight: 900;
        font-size: 45px;
        line-height: 56.6px;
    }
    main .consultanos .divText .textSmall {
        font-weight: 600;
        font-size: 25px;
        line-height: 30.48px;
    }
}

footer {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    min-height: 160px;
    border-bottom: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

footer .footer_container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .footer_container>div {
    min-width: 33%;
    margin-top: 10px;
}

footer .footer_container .footer_contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer .footer_container .footer_contacto>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #914450;
    font-size: 18px;
    font-weight: 500;
}

footer .footer_container .footer_contacto .footer_contacto_title {
    text-align: center;
    font-weight: 700;
}

footer .footer_container .footer_contacto .footer_contacto_mail {
    margin: 5px 0;
}

footer .footer_container .footer_contacto .footer_contacto_cel {
    text-align: center;
}

footer .footer_container .footer_logo {
    max-width: 193px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .footer_container .footer_logo img {
    width: 193px;
    height: auto;
}

footer .footer_container .footer_rrss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer .footer_container .footer_rrss img {
    margin: 10px;
    width: 34px;
    height: 34px;
}

footer .footer_copyright {
    text-align: center;
    font-size: 14px;
    color: #914450;
    font-weight: 500;
}

.slider {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    -webkit-transition: 0.3s left ease-in-out;
    transition: 0.3s left ease-in-out;
}

.slider .item {
    margin-right: 10px;
}

.slider .item:last-child {
    margin-right: 0;
}

.ctrl {
    text-align: center;
    margin-top: 5px;
}

.ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: #fff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
    left: 0;
}

.ctrl-btn.pro-next {
    right: 0;
}

.servicio {
    /* position: relative; */
    width: 299px;
    height: 397px;
    /* display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; */
    border: 1px solid;
}

.servicio .elipse {
    /* width: 76px;
          height: 76px; */
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 100%;
}

.servicio .servicioTitle {
    font-size: 27px;
    font-weight: 700;
    color: #914450;
}

.servicio .servicioDescription {
    font-size: 18px;
    font-weight: 400;
    color: #B55158;
}


/*# sourceMappingURL=styles.css.map */

@media (max-width: 500px) {
    .responsive-rrss {
        display: flex;
    }
    .navbar-links {
        display: none;
        margin-left: -1100px;
        width: 100%;
    }
    .navbar {
        height: 90px;
    }
    .navbar-links ul {
        width: 96%;
        flex-direction: column;
        margin-top: 200px;
    }
    .navbar-links li {
        text-align: center;
        padding: 10px;
    }
    .rrss {
        display: none;
    }
    main .portada img {
        position: absolute;
        z-index: -5;
        display: none;
    }
    .serviciosTextBig,
    .serviciosText {
        display: none;
    }
    .serviciosResponsive {
        display: inline;
    }
    .seccionServicios {
        display: flex;
        flex-wrap: nowrap;
        margin: 30px;
    }
    .seccionCards {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }
    .card {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 123px;
        height: 160px;
        padding: 22px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #fff;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin: 10px;
    }
    .card img {
        width: 27px;
        height: 27px;
        top: 16px;
        left: 48px;
        /* background-color: #EBEBEB;
        ;
        border-radius: 100%; */
    }
    .card h3 {
        font-weight: 700;
        color: #B55158;
        font-size: 10px;
        text-align: center;
        line-height: 12.19px;
    }
    .card p {
        font-weight: 400;
        font-size: 8px;
        color: #9a9a9a;
        line-height: 8.54px;
        font-family: 'montserrat', sans-serif;
    }
    .portada img {
        position: absolute;
        z-index: -5;
    }
    .textPortada {
        display: none !important;
    }
    .serviciosResponsive {
        display: inline;
    }
    .seccionPortfolio {
        margin: 40px;
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .portfolioCards img {
        width: 84.7px;
        height: 73.5px;
        margin: 5px;
    }
    .seccionServicios {
        display: flex;
        flex-wrap: nowrap;
        margin: 30px;
    }
    .seccionCards {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }
    .vermas {
        margin-left: 100px;
    }
    .vermas a {
        background-color: #B55158;
        border-radius: 24px;
        padding: 12px, 24px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: all 300ms
    }
    .vermas a:hover {
        background-color: #914450;
    }
}