@charset "UTF-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* VARS */
.d-none {
  display: none !important;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-betweenf;
      -ms-flex-pack: space-betweenf;
          justify-content: space-betweenf;
  background-color: #F8F8F8;
}

header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header > div {
  padding: 0 50px;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div .menu-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}

header > div .menu-desktop nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

header > div .menu-desktop nav .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #914450;
  text-decoration: none;
}

header > div .menu-desktop .rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-size: 24px;
}

header .menu-mobile {
  position: absolute;
  top: 90px;
  right: 0;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  background-color: #9a9a9a;
}

header .menu-mobile nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

header .menu-mobile .rrss {
  color: #B55158;
}

/* PÁGINA CONTACTO */
.main-contacto {
  margin-top: 50px;
  padding: 30px 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.main-contacto h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #B55158;
}

.main-contacto .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap-reverse;
          flex-flow: row wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.main-contacto .contacto__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.main-contacto .contacto__form-nombre, .main-contacto .contacto__form-mail, .main-contacto .contacto__form-tel, .main-contacto .contacto__form-consulta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.main-contacto .contacto__form-nombre label, .main-contacto .contacto__form-mail label, .main-contacto .contacto__form-tel label, .main-contacto .contacto__form-consulta label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.main-contacto .contacto__form-nombre input[type=text], .main-contacto .contacto__form-nombre input[type=email], .main-contacto .contacto__form-mail input[type=text], .main-contacto .contacto__form-mail input[type=email], .main-contacto .contacto__form-tel input[type=text], .main-contacto .contacto__form-tel input[type=email], .main-contacto .contacto__form-consulta input[type=text], .main-contacto .contacto__form-consulta input[type=email] {
  width: 100%;
  max-width: 400px;
  height: 30px;
  padding-left: 8px;
  background: #FFFFFF;
  border: 1px solid #C6C6C6;
  border-radius: 5px;
}

.main-contacto .contacto__form-acerca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 24px;
}

.main-contacto .contacto__form-acerca-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 16px;
}

.main-contacto .contacto__form-acerca-options div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-contacto .contacto__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.main-contacto .contacto__info p {
  max-width: 400px;
  font-weight: 500;
  line-height: 20px;
  color: #B55158;
}

.main-contacto .contacto__info__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #B55158;
}

.main-contacto .contacto__info__tel-title {
  font-weight: bold;
}

.main-contacto .contacto__info__tel-num {
  font-weight: 500;
  font-size: 18px;
}

.main-contacto .contacto__info__horario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #B55158;
}

.main-contacto .contacto__info__horario-title {
  font-weight: bold;
}

.main-contacto .contacto__info__horario-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-weight: 500;
}

.main-contacto .submit-contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-contacto .submit-contact-form button {
  width: 200px;
  height: 50px;
  background-color: #B55158;
  border: none;
  border-radius: 48px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
}

main {
  width: 100%;
}

main .portada {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
}

main .portada img {
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 1;
}

main .portada .textPortada {
  position: absolute;
  top: 10px;
  margin-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  opacity: 1;
}

main .portada .textPortada .textBig {
  margin-bottom: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: calc(.7rem + 4vw);
  font-weight: 900;
  font-style: black;
  line-height: calc(1rem + 5vw);
  color: #B55158;
  opacity: 1;
}

main .portada .textPortada .textSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.15rem + 2vw);
  font-weight: 600;
  font-style: italic;
  line-height: calc(.3rem + 3vw);
  color: #9a9a9a;
}

main .portada .textPortada .textSmall .bold {
  font-weight: 800;
}

@media (min-width: 1280px) {
  main .portada .textPortada {
    margin-left: 124px;
  }
  main .portada .textPortada .textBig {
    font-size: 65px;
    line-height: 69.42px;
  }
  main .portada .textPortada .textSmall {
    font-size: 20px;
    line-height: 24px;
  }
}

main .sectionServicios {
  width: 100%;
  margin: 8px 0;
}

main .consultanos {
  padding: 0 30px;
  padding-top: 52px;
  padding-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #B55158;
}

main .consultanos .divText {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* .textSmall{
                margin-bottom: 22px;
                display: flex;
                flex-direction: column;
                font-family: $montserrat;
                font-weight: 600;
                font-size: 22px;
                line-height: 30.48px;
                color: $color-creme;
            } */
}

main .consultanos .divText .textBig {
  margin-bottom: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: calc(1.1rem + 4vw);
  line-height: calc(2rem + 3vw);
  color: #F5E7D5;
}

main .consultanos .divText .textBig > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .consultanos .divBtn {
  padding: 22px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .consultanos .divBtn .btnConsultanos {
  width: 100%;
  max-width: 301px;
  min-width: 244px;
  height: 74px;
  padding: 21px 0;
  border: none;
  border-radius: 48px;
  background-color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #914450;
}

@media (min-width: 960px) {
  main .consultanos .divText .textBig {
    font-weight: 900;
    font-size: 45px;
    line-height: 56.6px;
  }
  main .consultanos .divText .textSmall {
    font-weight: 600;
    font-size: 25px;
    line-height: 30.48px;
  }
}

footer {
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
  min-height: 160px;
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_container > div {
  min-width: 33%;
  margin-top: 10px;
}

footer .footer_container .footer_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_container .footer_contacto > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #914450;
  font-size: 18px;
  font-weight: 500;
}

footer .footer_container .footer_contacto .footer_contacto_title {
  text-align: center;
  font-weight: 700;
}

footer .footer_container .footer_contacto .footer_contacto_mail {
  margin: 5px 0;
}

footer .footer_container .footer_contacto .footer_contacto_cel {
  text-align: center;
}

footer .footer_container .footer_logo {
  max-width: 193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_container .footer_logo img {
  width: 193px;
  height: auto;
}

footer .footer_container .footer_rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_container .footer_rrss img {
  margin: 10px;
  width: 34px;
  height: 34px;
}

footer .footer_copyright {
  text-align: center;
  font-size: 14px;
  color: #914450;
  font-weight: 500;
}

/* Slider Servicios Home */
.servicios {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.servicios__slider {
  width: 98%;
  max-width: 2100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.servicios__slider__slide {
  width: 100%;
  padding: 5px 0;
  position: relative;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  scroll-behavior: smooth;
}

.servicios__slider__slide::-webkit-scrollbar {
  display: none;
}

.servicios__card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  height: 400px;
  padding: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.servicios__card img {
  -o-object-fit: none;
     object-fit: none;
  width: 100px;
  height: 100px;
}

.servicios__card h3 {
  font-weight: 700;
  color: #B55158;
  font-size: 27px;
}

.servicios__card p {
  font-weight: 400;
  font-size: 18px;
  color: #9a9a9a;
  line-height: 19px;
}

@media (max-width: 500px) {
  header > div {
    padding: 0 20px;
  }
  header .rrss {
    display: none !important;
  }
}
/*# sourceMappingURL=styles.css.map */