/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARS */
$montserrat: 'Montserrat', sans-serif;;
$color-principal: #B55158;
$color-creme: #F5E7D5;
$color-dark: #914450;
$color-grey: #C6C6C6;
$color-textSmall: #9a9a9a;
$color-white: #fff;
$color-homeBackground: #F8F8F8;

.d-none{
    display: none !important;
}

html {
    font-size: 16px;
    font-family: $montserrat;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-betweenf;
    background-color: $color-homeBackground;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between ;
    
    >div{
        padding: 0 50px;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu-desktop{
            display: flex;
            justify-content: center;
            gap: 35px;
            nav {
                display: flex;
                gap: 16px;
                .nav-link {
                    font-family: $montserrat;
                    color: $color-dark;
                    text-decoration: none;
                }
            }
            .rrss{
                display: flex;
                gap: 15px;
                font-size: 24px;
            }
        }
    }
    .menu-mobile{
        position: absolute;
        top: 90px;
        right: 0;
        width: 200px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #9a9a9a;
        nav{
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        .rrss{
            color: $color-principal;
        }
    }
}

/* PÃGINA CONTACTO */
.main-contacto{
    margin-top: 50px;
    padding: 30px 10vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    h1{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        color: #B55158;
    }
    .contacto{
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: center;
        gap: 50px;
        &__form{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 16px;
            &-nombre, &-mail, &-tel, &-consulta{
                display: flex;
                flex-direction: column;
                gap: 4px;
                label{
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 14px;
                    color: #000000;
                }
                input[type=text],input[type=email]{
                    width: 100%;
                    max-width: 400px;
                    height: 30px;
                    padding-left: 8px;
                    background: #FFFFFF;
                    border: 1px solid $color-grey;
                    border-radius: 5px;
                }
            }
            &-acerca{
                display: flex;
                flex-flow: column nowrap;
                gap: 24px;
                &-title{

                }
                &-options{
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 16px;
                    div{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                    }
                }
            }
        }
        &__info{
            display: flex;
            flex-direction: column;
            gap: 24px;
            p{
                max-width: 400px;
                font-weight: 500;
                line-height: 20px;
                color: $color-principal;
            }
            &__tel{
                display: flex;
                flex-direction: column;
                color: $color-principal;
                &-title{
                    font-weight: bold;
                }
                &-num{
                    font-weight: 500;
                    font-size: 18px;
                }
            }
            &__horario{
                display: flex;
                flex-direction: column;
                color: $color-principal;
                &-title{
                    font-weight: bold;
                }
                &-hours{
                    display: flex;
                    gap: 16px;
                    font-weight: 500;
                }
            }
        }
    }
    .submit-contact-form{
        width: 100%;
        display: flex;
        justify-content: center;
        button{
            width: 200px;
            height: 50px;
            background-color: $color-principal;
            border: none;
            border-radius: 48px;
            font-size: 18px;
            color: #FFFFFF;
            font-weight: bold;
        }
    }
}


main {
    width: 100%;
    .portada {
        position: relative;
        width: 100%;
        height: fit-content;
        opacity: 1;
        img {
            
            width: 100%;
            height: auto;
            z-index: 1;
            opacity: 1;
        }
        .textPortada {
            position: absolute;
            top: 10px;
            margin-left: 5vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 100;
            opacity: 1;
            .textBig {
                margin-bottom: 2vw;
                display: flex;
                flex-direction: column;
                font-family: $montserrat;
                font-size: calc(.7rem + 4vw);
                font-weight: 900;
                font-style: black;
                line-height: calc(1rem + 5vw);
                color: $color-principal;
                opacity: 1;
            }
            .textSmall {
                display: flex;
                flex-direction: column;
                margin-right: 40px;
                font-family: $montserrat;
                font-size: calc(0.15rem + 2vw);
                font-weight: 600;
                font-style: italic;
                line-height: calc(.3rem + 3vw);
                color: $color-textSmall;
                .bold{
                    font-weight: 800;
                }
            }
            
            @media (min-width: 1280px) {
                margin-left: 124px;
                .textBig {
                    font-size: 65px;
                    line-height: 69.42px;
                }
                .textSmall {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
    .sectionServicios {
        width: 100%;
        margin: 8px 0;
    }
    .consultanos{
        padding: 0 30px;
        padding-top: 52px;
        padding-bottom: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: $color-principal;
        .divText{
            display: inline-flex;
            justify-content: center;
            .textBig{
                margin-bottom: 22px;
                display: inline-flex;
                flex-direction: column;
                font-family: $montserrat;
                font-weight: 700;
                font-size: calc(1.1rem + 4vw);
                line-height: calc(2rem + 3vw);
                color: $color-creme;
                >div{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            /* .textSmall{
                margin-bottom: 22px;
                display: flex;
                flex-direction: column;
                font-family: $montserrat;
                font-weight: 600;
                font-size: 22px;
                line-height: 30.48px;
                color: $color-creme;
            } */
        }
        .divBtn{
            padding: 22px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .btnConsultanos{
                width: 100%;
                max-width: 301px;
                min-width: 244px;
                height: 74px;
                padding: 21px 0;
                border: none;
                border-radius: 48px;
                background-color: #FFF;
                font-family: $montserrat;
                font-weight: 700;
                font-size: 25px;
                color: $color-dark;
            }
        }
        @media (min-width: 960px){
            .divText{
                .textBig{
                    font-weight: 900;
                    font-size: 45px;
                    line-height: 56.6px;
                }
                .textSmall{
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30.48px;
                }
            }        
        }
    }
}

footer{
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    min-height: 160px;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    .footer_container{
        >div{
            min-width: 33%;
            margin-top: 10px;
        }
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .footer_contacto{
            display: flex;
            justify-content: center;
            >div{
                display: flex;
                flex-direction: column;
                color: $color-dark;
                font-size: 18px;
                font-weight: 500;
            }
            .footer_contacto_title{
                text-align: center;
                font-weight: 700;
            }
            .footer_contacto_mail{
                margin: 5px 0;
            }
            .footer_contacto_cel{
                text-align: center;
            }
        }
        .footer_logo{
            max-width: 193px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 193px;
                height: auto;
            }
        }
        .footer_rrss{
            display: flex;
            justify-content: center;
            img{
                margin: 10px;
                width: 34px;
                height: 34px;
            }
        }
    }
    .footer_copyright{
        text-align: center;
        font-size: 14px;
        color: $color-dark;
        font-weight: 500;
    }
}

/* Slider Servicios Home */
.servicios{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    &__slider{
        width: 98%;
        max-width: 2100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        &__slide{
            width: 100%;
            padding: 5px 0;
            position: relative;
            overflow-x: scroll;
            display: flex;
            gap: 50px;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                display: none;
              }
        }
    }
    &__card{
        flex-shrink: 0;
        width: 300px;
        height: 400px;
        padding: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        img{
            object-fit: none;
            width: 100px;
            height: 100px;
        }
        h3{
            font-weight: 700;
            color: $color-principal;
            font-size: 27px;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            color: $color-textSmall;
            line-height: 19px;
        }    
    }
}

@media (max-width: 500px) {
    header{
        >div{
        padding: 0 20px;
        }
        .rrss{
            display: none!important;
        } 
    }
}
